<h1>Go lead some thoughts:</h1>

<table class="table table-striped">
  <% @originating_tweets.each do |tweet| %>

  <tr>
    <td><%= tweet.formatted_original_timestamp %></td>
    <td><%= tweet.text %></td>
    <td><%= link_to "See whole storm", storm_path(id: tweet.id) %></td>
  </tr>

  <% end %>
</table>
