<h1>Drafts</h1>

<table>
  <% @originating_tweets.each do |tweet| %>

  <tr>
    <td><%= tweet.original_timestamp %></td>
    <td><%= tweet.text %></td>
    <td><%= link_to "See whole thread", draft_path(id: tweet.id) %></td>
  </tr>

  <% end %>
</table>
